#cuelist {
	display: grid;
	grid-template-rows: 5vh calc(100% - 11vh) 6vh;
}

#headers {
	width: 100%;
   	height: 5vh; 
	background-color: var(--gray00);
}
#cues {
	width: 100%;
	overflow-y: auto;
	background-color: var(--gray00);
}
#controls {
	width: 100%;
	z-index: 11;	
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--gray00);
	border-bottom: 0.2vh solid var(--gray200);
	box-shadow: 0 -1vh 1vh var(--gray150);
}

#left {
	display: flex;
	padding-left: 2vh;
	align-items: center;
}
#right {
	display: flex;
	padding-right: 2vh;
	align-items: center;
}

#left>input[type="button"], #right>input[type="button"] {
	height: 4vh;
	width: 6vh;
	margin: 0.25vh;
}
#playerinput>input[type="button"] {
	height: 4vh;
	background-color: var(--gray200);
	padding: 0 1vh;
	border-radius: 1vh 0 0 1vh;
}

#playerinput {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0.25vh;
}
input[type="text"], input[type="number"], input[type="color"] {
	height: 3.8vh;
	width: 5vh;
	border-radius: 0 1vh 1vh 0;
	outline: none;
	font-size: 1.35vh;
	padding: 0 1vh;
	background-color: var(--gray00);
	border: 0.1vh solid var(--gray300);
	font-family: Nunito, sans-serif;
}
input[type="color"] {
	cursor: pointer;
}
input[type="text"][disabled], input[type="number"], input[type="color"] {
	color: var(--gray300);
}
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

#go {
	background-color: var(--green);
	color: var(--green-font);
}
#go:hover {
	outline-color: var(--green-font);
}
#pause {
	background-color: var(--blue);
	color: var(--blue-font);
}
#pause:hover {
	outline-color: var(--blue-font);
}
#stop, #delete {
	background-color: var(--red);
	color: var(--red-font);
}
#stop:hover, #delete:hover {
	outline-color: var(--red-font);
}
#delete[disabled]:hover {
	outline-color: transparent;
}
input[type="button"][disabled] {
	opacity: 0.3;

}
input[type="button"]:hover {
	outline: 0.3vh solid var(--gray400);
}
input[type="button"][disabled]:hover {
	outline-color: transparent;
}
#player {
	cursor: default;
}
#player:hover {
	outline-color: transparent;
}

#headers {
	display: grid;
	grid-template-columns: 15% 45% 20% 20%;
	box-shadow: 0 1vh 1vh var(--gray200);
	z-index: 5;
}
#headers>p {
	padding: 0 2vh;
	z-index: 4;
	font-weight: 700;
}

#cues>div {
	background-color: var(--gray00);
	display: grid;
	grid-template-columns: 15% 45% 20% 20%;
	cursor: pointer;
	outline-offset: -0.3vh;
	outline: 0.3vh solid transparent;
	transition-duration: 0.3s;
}
#cues>div:hover {
	outline-color: var(--gray400);
	background-color: var(--gray100);
}
#cues>div:nth-child(even):hover {
	outline-color: var(--gray400);
	background-color: var(--gray200);
}
#cues>div>p {
	padding: 0 2vh;
	font-size: 1.5vh;
}
#cues>div:nth-child(even) {
	background-color: var(--gray150);
}

#editor {
	z-index: 10;
	grid-template-rows: 5vh calc(100% - 5vh);
	height: calc(100% - 5vh);
	/* transform: translate(100%, 0); */
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}
#editor-header {
	display: flex;
	z-index: 10;
	background-color: var(--gray00);
	padding: 0 1vh;
	box-shadow: 0 1vh 1vh var(--gray200);
	align-items: center;
	justify-content: space-between;
}
#editor-header>p {
	font-weight: 700;
	padding: 0 2vh;
}
#value-editor {
	padding: 2vh;
	overflow-y: auto;
}
#value-editor>div {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: 5vh 5vh;
}
div#timing {
	grid-template-columns: 25% 37% 37%;
	grid-template-rows: 5vh 5vh;
}
#timing>div:nth-child(2) {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;
}
#timing>div:nth-child(n+2)>p {
	min-width: 8vh;
}
#timing>div:nth-child(n+2)>input {
	width: calc(100% - 8vh);
}
#timing>div:nth-child(3) {
	grid-column-start: 2;
	grid-column-end: 3;
}
#timing>div:nth-child(4) {
	grid-column-start: 3;
	grid-column-end: 4;
}
#value-editor>div:nth-child(n+3)>div:nth-child(1) {
	grid-column-start: 1;
	grid-column-end: 4;
}
#value-editor>div:nth-child(n+3)>div:nth-child(1)>p {
	width: 10vh;
	font-size: 1.4vh;
}
#value-editor>div:nth-child(n+3)>div:nth-child(1)>input[type="color"] {
	width: 3vh;
}
#value-editor>div:nth-child(n+3)>div:nth-child(1)>input[type="number"] {
	width: 5vh;
}
#value-editor>div>div {
	display: flex;
	padding: 1vh;
	align-items: center;
}
#value-editor>p {
	padding-left: 1vh;
	font-weight: 500;
}
#value-editor>div>div>p {
	font-size: 1.3vh;
	height: 2vh;
	border-radius: 1vh 0 0 1vh;
	padding: 1vh;
	margin: 0;
	color: var(--gray500);
	line-height: 2vh;
	background-color: var(--gray150);
}
#value-editor>div>div>input[type="number"] {
	border-radius: 0;
	width: 100%;
	height: 3.6vh;
	color: var(--gray500);
}
#value-editor>div>div>input[type="color"] {
	min-width: 3vh;
	height: 3.8vh;
	padding: 0;
	overflow: hidden;
	outline: 0.2vh solid var(--gray150);
}
#value-editor>div>div>input[type="color"]::-webkit-color-swatch {
	border-radius: 0 1vh 1vh 0;
	transform: scale(2);
	opacity: 0.5;
}
